.textArea {
  width: 98%;
  height: 71%;
  margin: 1%;
  font-family: "Minitel";
  color: var(--font-theme);
  background-color: var(--main-theme);
  transition: color 0.5s, background 0.5s;
  caret-shape: underscore;
}

.welcomeMessage {
  font-family: "Minitel";
  margin: 1%;
  color: var(--font-theme);
}
