/* Copyright Ta merge la branche */
@use 'themes.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.animate-colors-transition {
    transition: color 0.5s, background 0.5s;
}

body {
    background-color: var(--main-theme);
}
@font-face {
  font-family: "Minitel";
  src: local("Minitel"), url(./assets/fonts/Minitel.ttf) format("truetype");
}
.enlarge * {
  font-size: 30px !important;
}
.enlarge mat-card-title{
  font-size: 50px !important;
}

.enlarge .mat-button-wrapper{
  font-size: 40px !important;
}

.enlarge .positronx{
  font-size: 40px !important;
}
app-change-theme {
  display:inline-flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1%;
}

app-change-theme mat-slide-toggle {
  margin-left: 30%;
}

.moins-enlargi {
  font-size: 80px !important;
}